@media only screen and (min-width: 320px){
    
    .header-container-small{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .header-container{
        display: none;
    }
    
    

    .logo{
        left: 20px;
        margin-bottom: 20px;
    } 
    
    .menu{
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .menu-items{
        display: none;
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
    }

    .menu-items-display{
        display: block;
    }

    .menu-items div:hover{
        color: grey;
        transition: 0.15s;
    }
    
    .logo img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    .menu img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }


    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
    }

    .profile-pic img{
        width: 200px;
        border-radius: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .about-contaner{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .about-and-skills{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-title{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .about{
        font-size: 20px;
        width: 70%;
        margin-bottom: 30px;
    }

    .projects-link{
        color: rgb(53, 53, 207);
        text-decoration: underline;
        cursor: pointer;
    }

    .my-skills-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-skills-title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .skills-container{
        display: flex;
        flex-direction: row;
        font-size: 20px;

    }

    .my-skills div{
        text-align: center;
        color: white;
        background-color: black;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
        margin-right: 20px;
        margin-bottom: 20px
    }





















    .projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects-title{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    
    
    .project-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap
    }
    
    .project-row a{
        text-decoration: none;
        color: black;
    }
    
    .project{
        display: flex;
        flex-direction: column;
        align-items:center ;
        border: 1px solid rgb(193, 193, 193);
        border-radius: 30px;
        width: 250px;
        height: 200px;
        font-weight: 900;
        margin-bottom: 5vh;
    }
    
    
    .project:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
        cursor: pointer;
        background-color: rgb(247, 247, 247);
        transition: 0.25s;
    }
    
    .project img{
        width: 250px;
        object-fit: contain;
        opacity: 0.7;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    






















    .contact-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }

    .form{
        margin-left: 7%;
    }

    .contact-title{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10vh;
    }

    .detail{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .detail input{
        font-size: 18px;
        border-radius: 15px;
        border: 1px solid rgb(163, 163, 163);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    }

    .contact-container button{
        margin-top: 15px;
        border: none;
        font-size: 16px;
        background-color: black;
        color: white;
        padding: 2px 20px;
        border-radius: 20px;
    }

    .contact-container button:hover{
        cursor: pointer;
        color: black;
        background-color: rgb(203, 203, 203);
        transition: 0.15s;
    }

    body{
        position: relative;
    }


    .bottom-bar{
        border-top: 1px solid rgb(228, 228, 228);
        padding-top: 3vh;
        padding-bottom: 3vh;
        position: absolute;
        width: 100%;
        bottom: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(235, 235, 235);
        font-weight: bold;
    }

    .bottom-bar img{
        width: 40px;
        cursor: pointer;
        margin-bottom: 3vh;
    }


    

  
}



@media only screen and (min-width: 720px){

    /* .h-and-h-container{
        height: 100vh;
        width: 100%;
    } */
    .header-container-small{
        display: none;
    }
    .header-container{
        display: block;
        position: relative;
        width: 100%;
        height: 100px;
        margin-bottom: 70px;
    }


    .logo, .menu{
        position: fixed;
        z-index: 12;
        top: 23px;
        position: absolute;
        cursor: pointer;
    }


    .title{
        font-size: 50px;
    }


    .profile-pic img{
        width: 300px;
        border-radius: 150px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .about-contaner{
        width: 100%;
        margin-bottom: 50px;
    }

    .about{
        width: 60%;
        margin-right: 5%;
    }

    .about-and-skills{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

   
    
    .about-title{
        font-size: 50px;
    }

 
    
    .my-skills-title{
        font-size: 35px;
    }




















    .projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects-title{
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    
    
    .project-row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap
    }
    
    .project-row a{
        text-decoration: none;
        color: black;
    }
    
    .project{
        display: flex;
        flex-direction: column;
        align-items:center ;
        border: 1px solid rgb(193, 193, 193);
        border-radius: 30px;
        width: 300px;
        height: 210px;
        font-weight: 900;
        margin-right: 40px;
    }
    
    
    .project:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
        cursor: pointer;
        background-color: rgb(247, 247, 247);
        transition: 0.25s;
    }
    
    .project img{
        width: 300px;
        object-fit: contain;
        opacity: 0.7;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    


    .contact-title{
        font-size: 50px;
    }
}



@media only screen and (min-width: 1000px){}